<div id="banner">
  <div id="header">
    QUAKE me UP!
  </div>
<div>

<div id="content_holder">
  <div id="reg">

    <div class="sign-up">
      <span class="headtags">Login</span>
      <form action ="" method="post">
        <input type="text" name="email" placeholder="email"/>
        <input type="password" name="password" placeholder="password"/>
        <input type="submit" name="submit" value="submit"/>
      </form>
    </div>

    <div class="sign-up">
      <span class="headtags">
        Register
      </span>
      <form action="/user/new" method="post">
        <input type="text" name="name" placeholder="Name"/>
        <input type="text" name="email" placeholder="Email"/>
        <input type="password" name="password" placeholder="Password"/>
        <input type="text" name="mobile" placeholder="mobile number"/>
        <input type="text" name="zipcode" placeholder="zipcode"/>
        <input type="submit" name="submit" value="submit"/>
      </form>
    </div>

  </div>
</div>